*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body{
    background-image: url(../imagenes/depositphotos_426620104-stock-illustration-abstract-background-dark-blue-presentation.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
main{
    width: 30%;
    padding: 40px;
    margin: auto;
    margin-top: 100px;
}
.contenedor_todo{
    width: 100%;
    max-width: 300px;
    margin: auto;
}
table {
    color: white;
    border-collapse: collapse;
    width: 100%;
    top: -185px;
    left: 25px;
    border: rgb(126, 86, 86) 1px solid;
    align-items: center;
}
td {
    border: white 1px solid;
  }
table tr {
    text-align: center;
    font-size: 20px;
}
